.lead {
  width: 75%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  border: orange solid 1px;;
}

.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  max-width: 100%;
}

.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  align-self: flex-start;
  letter-spacing: 1.5px;
  border: wheat 1px solid;
  }
