.lead {
  width: 75%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 64px;
}

.lead__title {
  max-width: 720px;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  border: orange solid 1px;;
}

.lead__subtitle {
  max-width: 640px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
}
