.content {
  max-width: 100%;
  margin: 56px 0 92px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 640px) {
  .content {
    margin-bottom: 64px;
  }
}
