.place__paragraph {
  margin: 0;
  padding: 0;
  max-width: 484px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 29.34px;
  font-family: Inter;
  font-weight: 400;
}

.place__paragraph:last-child {
  margin-top: 26px;
}

@media screen and (max-width: 640px) {
  .place__paragraph {
    margin: 0 18px;
  }

  .place__paragraph:last-child {
    margin-top: 0;
  }
}
