.cover {
  text-align: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding: 245px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*z-index: 1;*/
}

.cover:before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover:hover:before {
  opacity: 0.8;
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 115px 0;
  }
}

@media screen and (max-width: 640px) {
  .cover {
    padding: 33px 0;
  }
}
