.cover__overlay {
  background: rgba(42, 44, 47, 0.3);
  padding: 245px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    padding: 195px 0 195px;
  }
}

@media screen and (max-width: 640px) {
  .cover__overlay {
    padding: 33px 0;
  }
}
