.place__image_point_kolskiy {
    background: url('../../../../images/place-kolsky.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 700px) {
  .place__image_point_kolskiy {
    padding-bottom: 100%;
  }
}
