@media screen and (max-width: 768px) {
    .content__section_places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .content__section_places {
        margin-bottom: 66px;
        padding: 0;
    }
}
