.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    margin-bottom: 50px;
  }
}
