.footer {
  width: 92.5%;
  border:turquoise 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  line-height: 1.1;
}

.footer__link-item {
  list-style: none;
  padding-right: 18px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
}
