.place__description {
  width: calc(100% - (460px + 40px));

}

@media screen and (max-width: 1024px) {
  .place__description {
    width: calc(100% - (440px + 32px));
  }
}

@media screen and (max-width: 860px) {
  .place__description {
    width: calc(100% - (340px + 28px));
  }
}

@media screen and (max-width: 700px) {
  .place__description {
    width: 100%;
  }
}
