.place__description {
  width: calc((100% - 40px)/2);
}

@media screen and (max-width: 1024px) {
  .place__description {
    width: calc((100% - 32px)/2);
  }
}

@media screen and (max-width: 860px) {
  .place__description {
    width: calc((100% - 28px)/2);
  }
}

@media screen and (max-width: 700px) {
  .place__description {
    width: 100%;
  }
}
