.place__row-image {
  max-width: 460px;
  max-height: 460px;
}

@media screen and (max-width: 1024px) {
  .place__row-image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__row-image{
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (max-width: 640px) {
  .place__row-image {
    padding: 0 18px 32px;
    max-width: 380px;
    max-height: 380px;
  }
}


@media screen and (max-width: 320px) {
  .place__row-image {
    padding: 0 0 32px;
  }
}
