.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% - (460px + 40px));
  margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .place__website {
    width: calc(100% - (440px + 32px));
  }
}

@media screen and (max-width: 860px) {
  .place__website {
    width: calc(100% - (340px + 28px));
  }
}

@media screen and (max-width: 700px) {
  .place__website {
    width: calc(100% - 32px);
    margin: 0 16px 32px;
  }
}

